*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box,#box1,#box3,#box4{
    width:100%;
   
    margin: 50px auto;
   
   
  }
  
  #box h1,#box1 h1,#box3 h1,#box4 h1{
    background-color: blue;
   padding: 10px;
   cursor: pointer;
   color: white;
   font-family: verdana;
  }
  
  #box p,#box1 p,#box3 p,#box4 p{
    font-family: sans-serif;
    line-height: 23px;
    text-align: justify;
    padding: 15px;
    display: none;
    border: 1px solid black;
    margin-top: -20px;
  }

  .box_pdf{
    width: 100%;
    height: 40px;
    background-color: orange;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-family:verdana;
    display: none;

  }

  #tittle{
    width: 100%;
    height: 73px;
    background-color: rgb(199, 153, 37);
    padding-top: 20px;
    border-bottom: 15px solid rgb(255, 0, 162);
  }

  #tittle h2{
    font-size: 40px;
    color:yellow;
    font-family: sans-serif;
    margin-left: 30px;
 
  }

  #i{
    float: right;

  }

  #down{
    float: right;
    margin-right: 20px;
    font-size: 30px;
    margin-top: -5px;
  }

  #arrow{
    float: right;
    font-size: 30px;
    margin-top: -50px;
    margin-right: 20px;
    cursor: pointer;
  }
