@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 #img_box{
    width: 200px;
    height: 200px;
    float: left;

   position: relative;
   top: 0;
   left: 0;
  
}

#img_box img{
    width: 200px;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
}

#circle{
    width: 130px;
    height: 130px;
    border: 1px solid rgb(76, 2, 248);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    margin: 0px 30px 30px 0px;
}

body{
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #69f462, rgb(134, 244, 174),#69f462);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #69f462,rgb(134, 244, 174), #69f462); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #69f462,rgb(134, 244, 174), #69f462);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #69f462,rgb(134, 244, 174), #69f462); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


#add{
   width: 80px;
   height: 80px;
    font-size: 50px;
    color: purple;
   position: fixed;
   bottom: 100px;
   right: 200px;
   cursor: pointer;

}

#all_no_box{
    width: 40%;
    height: 550px;

    position: fixed;
    top: 150px;
    left: 450px;
    padding-left: 20px;
    padding-right: 20px;

 
}

#search_box{
    width: 95%;
    height: 30px;
    margin-top: -35px;
    background-color: inherit;
    border: none;
    outline: none;
    border-bottom: purple solid 1px;
    font-size: 20px;
    padding: 10px;
    color: purple;

}


#number_box{
    width: 100%;
    height: 550px;

  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

#number_box::-webkit-scrollbar{
    width: 7px;
   
}

#number_box::-webkit-scrollbar-track{
   background-color:inherit;
}

#number_box::-webkit-scrollbar-thumb{
   background-color: purple;
   border-radius: 5px;
}

#contacts{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

#number_box #m{
    margin-top: 5px;
}

#m{
    margin-top: -50px;
}

#n{
   margin-left: 10px;
}

#number_box #n{
    margin-bottom: 5px;
}


#user{
    float: left;
    margin: 20px 0px 0px 410px;
    font-size: 34px;
    font-family: sans-serif;
}

#tool{
    width: 100px;
    height: 50px;
   
   background-color: white;
   margin-top: -60px;
    float: right;
  


}

#tool i{
    font-size: 23px;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
}

#edit ,#edit2{
    font-size: 25px;
    margin-left: 9px;
    margin-top: 9px;
    cursor: pointer;
}

#all_c{
    width: 90%;
   height: 90px;
    background-color:white;
    border-radius: 5px;
    margin-top: 20px;
    padding-top:15px;
}

#h1_name{
    font-size: 20px;
    font-weight: bold;

 
}

#h1_name_i{
    font-size: 24px;
    float: left;
    margin-left: 20px;
 margin-right: 10px;
}
#num_h1_i{
    font-size: 23px;
    margin-top: -20px;
    margin-left: 20px;
}

#num_h1{
    font-size: 21px;
    
    margin-left: 53px;
    margin-top: 10px;
}

#new_box{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
   
    display: none;
}

#user i{
    font-size: 40px;
    
}

#input_box_new_con{
    width: 30%;
    height: auto;
    border:none;
    background-color: rgb(224, 191, 217);
    border-radius: 10px;
    padding: 20px;
    margin: 200px auto;
   
}

#input_box_new_con input{
    width: 90%;
    height: 30px;
    border: blue 3px solid;
    margin: 10px;
    padding: 10px;
    border-left: 10px solid blue;
    outline: none;
    margin-left: 20px;
    font-size: 17px;
    font-family: "Ubuntu", sans-serif;
}


#input_box_new_con button{
    width: 90%;
    height: 30px;
    font-size: 20px;
   
    background-color: blue;
    border: none;
    outline: none;
    color:  rgb(224, 191, 217);
    margin-left: 20px;
    margin-top: 20px;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
}

#p{
    font-size: 25px;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
  


@media(max-width :1024px){
     
#all_no_box{
   margin-left: -200px;
   width: 50%;
}

#input_box_new_con{
    width: 40%;
 
}

#user{
    margin-left: 150px;
}

#add{
    font-size: 50px;
   margin-right: -130px;
}

}





@media(max-width :798px){
     
    #all_no_box{
       margin-left: -300px;
       width: 60%;
    }
    
    #user{
        margin-left: 150px;
    }
    
    #add{
        font-size: 40px;
       margin-right: -130px;
       margin-bottom: -70px;
    }

    
    #img_box{
      width: 100px;
      height: 100px;
    }
    
    #img_box img{
        width: 100px;
        height: 100px;
      }
      
    #circle{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 1px;
      }
    
    }

    
@media(max-width :656px){
     
    #input_box_new_con{
        width: 60%;
     
    }

    #all_no_box{
       margin-left: -450px;
       width: 100%;
    }

    #img_box{
        display: none;
    }
    
    #user{
        margin-left: 200px;
    }
    
    #add{
        font-size: 40px;
       margin-right: -200px;
       margin-bottom: -70px;
       
    }


    #number_box{
        width: 100%;
      
    }

    #all_c{
        width: 100%;
 
    }
    
    }



    @media(max-width :548px){
     
        
    
        
        #user{
            margin-left: 100px;
        }
        
        
        }


        @media(max-width :375px){
     
        
    
        
            #user{
                margin-left: 50px;
                font-size: 30px;
            }
            
            
            }


        @media(max-width :425px)
        {
            #input_box_new_con{
                width: 90%;
             
            }
        }
    

        
    
