@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#body 
{
    overflow: hidden;
    
}

#screen{
    width: 100%;
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding-top: 150px;
}




#container{
    width: 30%;
    height: auto;
   border-radius: 15px;
    background-color: white;
    padding: 40px 20px;
    margin: 0 auto;
  
}

#container h1{
    text-align: center;
    
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
      

    
}



#login_frm ,#sign_frm{
    margin-top: -20px;
}

#email_l,#email_s,#password_l,#password_s,#username,#phone
{
    width: 100%;
    margin-top:40px;
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    color: grey;
    font-size: 15px;
}

#btn_login,#btn_sign{
    width: 100%;
    height: 40px;
    outline: none;
    border: navajowhite;
    font-size: 20px;
    color: white;
 
    background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    margin-top: 20px;
}

#login_box p ,#sign_box p{
    margin-top: 25px;
    text-align: center;
    font-size: 17px;
    font-family: tahoma;
}

#login_box span ,#sign_box span{
    color: rgb(85, 0, 255);
    cursor: pointer;
}


#login_box{
    display: block;
}

#sign_box
{
    display: none;
}


#email_notice,#l_email_war,#l_pass_war{
    color: red;
    font-family: "Ubuntu", sans-serif;
    margin-top: 4px;
    display: none;
       
}

#pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow: hidden;
   
    display: block;
}

#c_div{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 180px auto;
 
    
}

#c_div h1{
    font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-left: 85px;
        margin-top: 10px;
        font-weight: bold;
        display: none;
}

#id{
    width: 330px;
    height: 330px;
    border-radius: 50%;
}

@media(max-width:768px)
{
    #container{
        width:70%;
    }
    
    #c_div{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 100px auto;
     
        
    }
    
#id{
    width: 250px;
    height:250px;
    border-radius: 50%;
}

#c_div h1{
   
        margin-left: 55px;
        margin-top: 10px;
        
}
}

